/* Universal Style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
p {
  line-height: 26px;
}
a {
  text-decoration: none;
}
#container {
  margin: 0 auto;
  max-width: 1170px;
}
/* Font-wight-color */
.ColoR_Black_FZ40_800 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.ColoR_gray_FZ16_400 {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.ColoR_Black_FZ16_400 {
  color: #131318;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
/* Button  */
.btn {
  border-radius: 8px;
  color: #fff;
  background: #ff5400;
  border: none;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.88;
}
